[gui]
	fontui = -family \"DejaVu Sans\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"DejaVu Sans Mono\" -size 12 -weight normal -slant roman -underline 0 -overstrike 0
	pruneduringfetch = true
[merge]
	tool = meld
[user]
	email = your-org-email@org.com
	name = your name
[guitool "Diff"]
	cmd = meld $FILENAME
	noconsole = yes
	needsfile = yes
[guitool "Rebase/Interactive"]
	 cmd = EDITOR=emacs git rebase -i $REVISION
	 revprompt = yes
[guitool "Rebase/Continue"]
    	 cmd = git rebase --continue

[guitool "Resolve Conflict"]
	 cmd = git mergetool

[guitool "Git Stash Show"]
	 cmd = git stash show
[alias]
	status = status
[core]
	editor = /usr/bin/emacs
