[gui]
	fontui = -family .AppleSystemUIFont -size 14 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family Menlo -size 14 -weight normal -slant roman -underline 0 -overstrike 0
	pruneduringfetch = true
[merge]
	tool = meld
[user]
	email = your-org-email@org.com
	name = your name
[guitool "Diff"]
	cmd = meld $FILENAME
	noconsole = yes
	needsfile = yes
[guitool "Rebase/Interactive"]
	 cmd = EDITOR=emacs git rebase -i $REVISION
	 revprompt = yes
[guitool "Rebase/Continue"]
    	 cmd = git rebase --continue

[guitool "Resolve Conflict"]
	 cmd = git mergetool

[guitool "Git Stash Show"]
	 cmd = git stash show
[alias]
  pr = pull --rebase
	st = status
	co = checkout
  ci = commit
  br = branch
  cob = checkout -b
  review = log --since=\"2 weeks\" \
               --oneline --reverse
  pop = reset --hard HEAD^
  rh  = reset --hard HEAD
  pl  = pull
  del = branch -d
  DEL = branch -D
  fwl = push --force-with-lease
[core]
	editor = /usr/local/bin/emacs
[pull]
	ff = only
